version: '3.9'

services:

  postgres:
    image: postgres:15
    container_name: postgres_music
    environment:
      POSTGRES_USER: music
      POSTGRES_PASSWORD: music123
      POSTGRES_DB: musicdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: minio_music
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

#  api:
#    build: .
#    container_name: music_api
#    ports:
#      - "8080:8080"
#    depends_on:
#      - postgres
#      - minio

volumes:
  pgdata:
  minio-data: